@tailwind base;
@tailwind components;
@tailwind utilities;


.audio_player {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.spinner {
    display: none;
    
}

.audio_info {
    display: none;
}

#play {
    fill:white;
    display: flex;
    justify-content: space-between;
}

.reload-icon {
    display: none;
}

.play_pause_inner {
display: flex;
   flex-direction: row;
   padding-right: 10px;
   /* background-color: red; */
   gap: 10px;
}

#Group {
    fill: white;
}

i svg  {
    height: 25px; 
    width: 25px;
    fill: white;
    padding-bottom: 5px;
    
}

svg g {
    fill : white;
}

input {
    color: black;
}

.profileCon::-webkit-scrollbar {
    display: none;
  }


@media (max-width: 600px) {
    .playlistCon {
        flex-direction: column;
    }
    .shareCon {
        padding: 7px;
    }
}

@media (max-height: 784px) {
    .profileCon {
        max-height: 450px;
    }
}
